[package]
name = "crdb-test-macro"
version = "0.1.0"
edition.workspace = true
license.workspace = true
publish = false

[lib]
proc-macro = true

[dependencies]
quote = "1"
syn = { version = "2", features = ["full"] }
proc-macro2 = "1"

[lints]
workspace = true
